.sidebar-dark-primary {
    background-color: #030303 !important; 
}

.card-header {
    background-color: #dbdad5 !important; 
}

#recent-actions-module {
    display: none !important;
}

.img-circle {
    display: none !important;
}

.breadcrumb-item.active{
    color: #6d7631;
    font-weight: bold;
}
.btn-success {
    background-color: #429e73;
    border: none;
}

.btn-secondary {
    border: none;
    background-color: #acb47b;
}

.btn-info {
    border: none;
    background-color: #315876;
}

.btn-danger {
    border: none;
    background-color: #ac4a46;
}
